<div class="vpad--xxxxl bg--dark bg--img text--white" style="background-image: url('{{site.img}}/content/competition/banner-bg.jpg');">
  <div class="container container--xl">
    <div class="text--center">
      <h2></h2>
      <h2 class="title title--xxl">Indulge in truly <br>delicious moments…</h2>
      <div class="space--xs"></div>
      <p class="width width--lg text--normal text--xxl">Book a break in Bruges and be in with the chance of winning dinner for two at a Michelin restaurant plus a brewery tour! </p>
      <div class="width width--lg">
        <div class="space--md"></div>
        <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--lg btn--red">Book Now</a>
      </div>
    </div>
  </div>
</div>