<div class="map-intro" style="background-image: url('{{site.img}}/map/bg-map.jpg');">
  <div class="container">
    <div class="row row--valign-center row--no-gutters">
      <div class="col col--xl-5">
        <div class="vpad--desktop-xl">
          <h4 class="title title--lg">Explore Flanders in our map</h4>
          <p class="text--xxl">Discover our top-pick cities across the region.</p>
        </div>
      </div>
      <div class="col col--xl-7">
        <div class="width width--lg">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/map/bg-map-overlay.png');">
            <div class="bg-img__content">
              <a class="js-open-map btn btn--red">Explore the map</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>