---
layout: default
id: themes
title: Themes
nav: true
nav-order: 2
content-pages: true
intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sit, recusandae quod quae nemo dolor ipsum architecto, rem eos a perferendis et officiis cumque nam, tempore temporibus! Tempora, eaque, quos.

sections:

  - id: arts
    title: Arts & Heritage
    introduction: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nulla consequatur, magni itaque! Ullam, sit?
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolor aut in, perspiciatis et, quo molestiae id corrupti aperiam dignissimos aliquid alias nulla. Commodi aliquid cum modi neque, quia enim.
    pois:
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nulla culpa, iure eligendi cupiditate? Rerum illum, quo accusamus mollitia incidunt? Est, natus. Reiciendis repellat ut a, voluptatem odio consequuntur ea eligendi suscipit quis eius nostrum distinctio consectetur eos quasi voluptate.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquam mollitia voluptate eligendi expedita optio eos et, quisquam cum omnis corporis. Repellat commodi placeat, assumenda consequatur cupiditate dignissimos, quia odio, quae iste voluptatibus ducimus mollitia quasi quo ipsam maiores saepe.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus necessitatibus consequuntur accusantium voluptate nostrum sit voluptatem, architecto consectetur sunt veniam quis quam laborum inventore eius nihil provident pariatur possimus dolore animi doloremque adipisci sed hic labore totam. Itaque, nisi voluptatum?

  - id: cycling
    title: Cycling
    introduction: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae error incidunt provident, accusamus, cupiditate eaque?
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit adipisci vero error modi laudantium, optio velit atque quibusdam sapiente quos architecto, officiis temporibus. Maxime eveniet perspiciatis earum praesentium. Perspiciatis, nihil.
    pois:
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nesciunt, quos a odit incidunt blanditiis asperiores, officiis eveniet, iusto explicabo qui totam. Id cupiditate eligendi quasi, tempore numquam molestiae esse omnis eos, quas, voluptas adipisci autem. Quibusdam ex odio assumenda.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aperiam non, ut perspiciatis quisquam dolores eos saepe voluptates. Ullam fuga et excepturi non tenetur doloribus iste, ducimus quaerat totam, illo aperiam? Perferendis ab laboriosam molestiae, ullam placeat laudantium officiis error.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo rem quos corporis commodi eveniet a. Dignissimos iste, nostrum, nulla soluta commodi vel nemo asperiores nam nisi eveniet reprehenderit enim a mollitia, fugit provident. Maiores veritatis vero amet dolor tempora velit.

  - id: food
    title: Food & Drink
    introduction: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione quaerat aut nam a reiciendis?
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ea cupiditate, porro qui ad eum, laborum, delectus commodi harum corporis quidem eaque! Aperiam incidunt, cupiditate magnam rerum unde reiciendis voluptas.
    pois:
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci autem, nisi ipsa, porro, omnis neque animi molestiae nemo nobis molestias dignissimos modi quia sint explicabo fugiat recusandae quibusdam laborum non asperiores tempore. Omnis voluptatem reprehenderit autem, architecto eaque, laudantium.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic beatae, vitae consequuntur nostrum. Hic a perferendis dolorum nobis quaerat delectus, commodi cupiditate inventore. In id, quasi, voluptas explicabo praesentium deserunt quibusdam magni maiores eius fuga, nobis labore. Inventore incidunt, voluptatum.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore temporibus molestiae nemo, quo unde velit quas doloribus natus praesentium iste magni voluptate, nostrum obcaecati perferendis vitae eligendi sapiente. Ullam atque, excepturi enim repellat molestias nihil praesentium? Sed sunt veniam ipsa.

  - id: music
    title: Music & Culture
    introduction: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, dolorum aspernatur omnis, quas modi animi?
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi odit laudantium esse pariatur aut magnam itaque, sint. Nesciunt explicabo error cumque qui harum, sit dolor. Repellat minima maiores, et commodi.
    pois:
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo commodi at, vero laboriosam obcaecati suscipit sint nisi tempora dolor facilis et quasi veniam voluptatum quod odit fugit placeat illum vel ratione architecto consectetur. Reiciendis sed eius natus, modi officiis similique.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia explicabo perspiciatis eveniet totam, deserunt alias velit corporis dolorum necessitatibus commodi consequatur error aspernatur rem modi odit sapiente dicta vitae dignissimos sint nihil, doloribus repellendus atque. Ut, atque, est! Dignissimos, eligendi.
      - id: #
        title: Lorem ipsum dolor sit amet
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur aspernatur porro unde, excepturi dicta obcaecati cumque est dolorum assumenda, tempore aliquid corrupti molestiae officiis iste, ut ex! Velit totam natus, sunt, nobis veniam illo. Facere dolores, necessitatibus totam eveniet.
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center text--xl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.sections %}

{% for section in page.sections %}
  <div id="{{section.id}}" class="vpad--xl">
    <div class="container">
      <div class="text--center">
        <h2 class="title title--xxl">{{section.title}}</h2>
        <p class="width width--lg text--lg">{{section.description}}</p>
      </div>
      <div class="space--xl"></div>
      <div class="row row--6-6 row--gutters-sm">
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
        </div>
      </div>
      <div class="space--lg"></div>
      <div class="row row--4-4-4">
        {% for poi in section.pois %}
          <div class="col">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
            <div class="space--xs"></div>
            <h3 class="title title--xs">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}