---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview
map: true

banner:
  title-sup: Discover
  title: Flanders
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center">
      <p class="text--xxl">{{site.description}}</p>
      <p>Remarkable medieval towns cast romantic scenes, hiding renowned galleries, charming Belgian bistros and impressive museums. From the timeless beauty of Bruges to the bustling cosmopolitan flair of Antwerp, Flanders retains old-world allure whilst simultaneously inspiring a vibrant, youthful edge that plays itself out in forward-thinking dining, trendy bars, plenty of great music and an electric atmosphere.</p>
      <p>Away from the cities and towns lies the picturesque Flemish countryside, dotted with rustic villages. It is here where sacrifice along the Western Front is remembered, with sombre tributes discoverable in museums and exhibits across the region, offering opportunity for reflection. Away from the evocative fields of war, Flanders remains a truly vibrant and fascinating region loaded with cultural treasures.</p>
    </div>
  </div>
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="row row--6-6 row--gutters-xl">
      {% assign content-pages = site.html_pages | where: 'content-pages', 'true' | sort: 'nav-order' %}
      {% for page in content-pages %}
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/nav.jpg');">
            <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
            <div class="bg-img__bg-overlay"></div>
            <div class="bg-img__content">
              <div class="banner-title banner-title--sm">{{page.title}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include page/promo-map.html %}