<div class="bg--light vpad--sm hpad--xs width--md">
  <div class="row row--valign-center row--gutters-xs">
    <div class="col col--3">
      <div class="bg-img bg-img--circle" style="background-image: url('{{site.img}}/content/locals/{{local.id}}.jpg');">
        <a class="js-open-modal bg-img__link" data-open-modal="{{local.id}}"></a>
      </div>
    </div>
    <div class="col col--9">
      <div class="title title--xxs">See {{local.name}}'s viewpoint on {{section.title}}</div>
      <div class="space--xs"></div>
      <a class="js-open-modal btn btn--outline btn--outline-red btn--xs" data-open-modal="{{local.id}}">Read Interview</a>
    </div>
  </div>
</div>