// need to put a friendly reminder where the g fonts snippet needs to go in the whole site
// additional families need to included in includes > page > head

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel-Semibold.woff2') format('woff2'),
  url('../fonts/Sentinel-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'Sentinel', 'Rockwell', serif;
$font-title-02: 'Poppins', 'Helvetica Neue', sans-serif;