---
layout: default
id: highlights
title: Highlights
nav: true
nav-order: 2
content-pages: true
intro: Discover Flanders through the lens of these themes. If your passion is fine art, we’ve got you covered; or if you’re crazy about foodie treats, look no further...

sections:

  - id: arts
    title: Arts & Heritage
    description: Once the wealthiest area in Europe, Flanders displays cultural riches amongst grandiose medieval churches and fine palatial galleries. Rubens, Pieter Bruegel the Elder, Van Eyck – the list goes on. These Flemish Masters encapsulate the zenith of Northern-European Renaissance art, with many of the world’s masterpieces painted here.
    pois:
      - id: follow-the-masters
        title: Follow the Masters
        description: From the 15th to the 17th century, Flanders was at the forefront of the art world. Head to Antwerp and discover Rubens’ stomping grounds, at his home-turned-museum and the church that houses four of his works – the Cathedral of Our Lady. Bruegel the Elder’s fantastical landscapes are best seen in Brussels at the KMSKB, alongside the neighbourhood where he lived. Van Eyck gave Ghent one of its most prized treasures – the Adoration of the Mystic Lamb, otherwise called the Ghent Altarpiece – but his former workshop was in Bruges, where you can also see his works at the Groeninge Museum.
      - id: belfries-and-basilicas
        title: Belfries and Basilicas
        description: Flanders is blessed with an awe-inspiring collection of medieval masterpieces, churches and old halls lavishly finished with ornate, grandiose touches – many of which are UNESCO World Heritage listed – that tell a story of historic wealth. From the towering belfries of Bruges and Ghent to the gothic calvary sculpture at St Paul's, Antwerp and beyond, Flanders is a medieval wonderland of remarkable architecture.
      - id: flanders-fields
        title: Flanders Fields
        description: In Flanders Fields, over one million men lost their lives. The harrowing reality of trench warfare is remembered here, in a landscape once torn apart by the First World War. Walk through numerous graveyards and past vast monuments like Tyne Cot Memorial to the Missing, the Yser Tower and Menin Gate. Visit the ‘Trench of Death’, and engage with the stories of those poor souls involved at museums like In Flanders Fields Museum and the Memorial Museum Passchendaele.

  - id: music
    title: Music & Culture
    description: An unmissable myriad of festivals stretches across Flanders throughout the year, supported by world-leading venues showcasing incredible music and creativity. Away from the stage, street art and modern wonders embellish both galleries and streets, a continuation of the design prowess that the region has fostered. See it in the much-loved comic strips of TinTin or the Smurfs, the influential collectives like the Antwerp Six, or the artisanal flair of Bruges’ traditional craftsmanship.
    pois:
      - id: festival-land
        title: Festival Land
        description: For ten whole days, the Ghent Festival of Flanders transforms the city into one big festival, filling the squares, spanning the water with stages, and engulfing the city in an electric atmosphere. Next comes the Ghent Jazz Festival, whilst in neighbouring Bruges, the MA Festival looks back in time with historical and ancient music showcased in this old-world city. Heavy metal, contemporary dance music and sprawling family fun are all represented on the calendar; all you have to do is pick the one for you!
      - id: comic-book-heroes
        title: Comic-book Heroes
        description: Belgium’s most recognisable cultural export of the 20th century is undoubtedly the comic-book heroes published in Brussels. The Adventures of TinTin, the antics of Lucky Luke and the escapades of the Smurfs all call this land home and are part of the childhoods of locals and visitors alike. Head for the Belgian Comic Strip Centre in Brussels to meet the characters.
      - id: design-forward
        title: Design-forward
        description: Design in Flanders starts, in many ways, with Victor Horta and Henry Van der Velde. These founders and pioneers of Art Nouveau made the region a home of design, which can now be tapped into in a network of galleries, fairs, exhibitions and boutiques. In the world of fashion, the influence of the avant-garde Antwerp Six is palpable, hurtling the city forward and landing it on the fashion map for generations to come.

  - id: cycling
    title: Cycling
    description: Flanders is (mostly) flat as a pancake. What better way to enjoy the idyllic countryside whilst hopping from medieval town to medieval town then by bike? Flanders’ cycling heritage is renowned; the Tour of Flanders is a testing race, but your adventures needn’t be so – in fact, cycling through the region has never been easier, with dedicated routes crisscrossing the land.
    pois:
      - id: leisure
        title: Leisure
        description: Easy to navigate, the node network of cycle routes cross the region through picturesque valleys, connecting medieval towns and fringing old battlefields. Try the route connecting the cities of Mechelen and Leuven, which winds through the pretty Dijle Valley. If you fancy something stronger, the Golden Carolus route connects the Het Anker Brewery with the De Molenberg Distillery, in a loop through beautiful countryside. The Trappist route offers much the same, with more beer! The Ypres Salient is also connected by a cycle route, stopping at memorials and museums, winding through battlefields, and offering a unique perspective over this poignant landscape.
      - id: racing
        title: Racing
        description: The Tour of Flanders is the most synonymous cycling event to the region, where Flemish heroes like Eddy Merckz – through countless victories – have proved time and time again the area’s cycling prestige. If you’re a bit of a fan and fancy putting yourself through the gruelling challenges of the race, nothing is more iconic than the bergs. Steep, cobbled hills that sort the wheat from the chaff, the bergs are feared. The dauntingly steep Koppenberg, the mercilessly long Kwaremont, and the iconic Kapelmuur are all there for you to tackle – if you dare!
      - id: heritage
        title: Heritage
        description: Cycling plays a huge role in the culture of the region. Flanders’ heritage is laced with pride and passion, evident in a small clutch of museums that mark Flanders’ contribution to the world of cycling. The Tour of Flanders Centre will see you rubbing shoulders with Flemish cycling heroes Schotte, Merckx and Museeuw, and the KOERS Cycle Museum goes into remarkable depth into the origins of the bicycle, cementing the importance of cycling to the Flemish.

  - id: food
    title: Food & Drink
    description: From iconic and complex Belgian beers to moules and frites, Flanders epitomises hearty Belgian cuisine. Sit in grand squares sipping unique Trappist beers, nibbling on local bistro favourites. There’s a burgeoning fine-dining scene to explore, from Michelin awardees to an envelope-pushing generation of new chefs. Enjoy a classic Flemish Stoofvlees, or simply indulge in the chocolate shops of Bruges...
    pois:
      - id: beer
        title: Beer
        description: Belgian beer culture is UNESCO recognised. Let that sink in; beer, beer culture as a historically, culturally, and internationally recognised thing. As you delve deep into the age-old Trappist brews and hopped-heritage of the region, it starts to make sense. There are centuries of brewing history here and you can taste it in the unique, complex flavours of the Lambics, Tripels and Flemish Reds. Visit countless breweries or make like a local and head for a quaint bar where the selection is typically vast. Don’t miss the new generation of craft brewers continuing the hugely important beer tradition of the region.
      - id: unmissable-eats
        title: Unmissable Eats
        description: Flanders is home to 97 Michelin-starred restaurants, which considering its modest size, is no small feat. The fine local produce and boundary-pushing chefs have made Flanders a foodie hotspot. Creative garden-to-kitchen dining can be experienced at Hertog Jan, and over at Hof van Cleve you can experience dining awarded by three Michelin stars. Away from the guide, the Flanders Kitchen Rebels – a collective of local chefs – are bringing youthful innovation to the Flemish gastronomy scene, creating stirs internationally with their forward-thinking approach to food. It’s an exciting time to eat in Flanders.
      - id: chocolate-heaven
        title: Chocolate Heaven
        description: Chocolate is quite possibly man’s finest creation and here in Flanders, you’ll find some of the best chocolate in the world. Artisanal chocolatiers like Yuzu or Cacao Project thrive here, and the praline game round this way has won international awards. No surprise then, that the world’s first praline was created in Brussels’ Galeries Royales Saint Hubert. Chocolate adventures in Antwerp or dipping into the praline shops of Bruges – wherever you go, the chocolate delights are guaranteed to satisfy.
---

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center text--xxl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.sections %}

{% for section in page.sections %}
  <div id="{{section.id}}" class="vpad--xxl">
    <div class="container">
      <div class="text--center">
        <h2 class="title title--xxxl">{{section.title}}</h2>
        <div></div>
        <p class="width width--lg text--xl">{{section.description}}</p>
      </div>
      <div class="space--xl"></div>
      <div class="row row--6-6 row--gutters-sm">
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/01.jpg');"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/02.jpg');"></div>
        </div>
      </div>
      <div class="space--lg"></div>
      <div class="row row--4-4-4">
        {% for poi in section.pois %}
          <div class="col">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/{{poi.id}}.jpg');"></div>
            <div class="space--md"></div>
            <h3 class="title title--sm">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}