---
layout: default
id: cities
title: Cities
nav: true
nav-order: 3
content-pages: true
intro: Flanders hosts a network of truly remarkable cities. Find our favourites below, with top tips that will help you get under the skin of truly unique, medieval centres...

sections:

  - id: bruges
    title: Bruges
    description: Bruges is a beguiling medieval delight, a chocolate-box town filled with romantic scenes at every turn. It’s one of Europe’s best-preserved, old-world centres, a step-back-in-time, with an indulgent lifestyle to tap into. Under the shadow of the (leaning!) Belfry, head for iconic chocolate shops, discover a maze of medieval streets, marvel at magnificent architecture, take a boat trip along the canal, and prop up the old beer bars after superb fine dining – found in myriad restaurants across this achingly beautiful town.
    pois:
      - content: Marvel at the almost hidden Basilica of the Holy Blood, where beautifully painted interiors mark the approach to a remarkable relic...
      - content: There are 55 chocolate shops to choose from. 55. But one recommendation to heed has to be The Chocolate Line; Dominique Persoone’s shop captures the creative gastro-flair he is so famous for.
      - content: Head for the Halve Maan Brewery and sip on a Bruges icon – the delicious Brugse Zot. It’s the last family brewhouse in the centre and the beer is unmissable. Proost!

  - id: ghent
    title: Ghent
    description: Ghent is quite possibly one of the finest cities in Europe, yet remains little visited – which makes little sense, as Ghent sure packs a punch. A beguiling medieval centre embellished with intricate facades, spiralling towers and remarkable waterways make Ghent irresistibly beautiful, a picturesque backdrop for waterside dining and discovering quirky Belgian bars. It’s as historic as Bruges, with 15th-century halls lining the ancient wharves, yet the old-world feel belies a youthful heart – a student population thrives here amongst hip bars and coffee hangouts.
    pois:
      - content: Discover the spellbinding work, the Adoration of the Mystic Lamb, in the towering Sint-Baafskathedraal – a Van Eyck brothers’ masterpiece.
      - content: Marvel at the romantic Gothic towers of the imposing Gravensteen Castle, a 12th-century stronghold that was restored in the 19th century with, let’s say, a hint of poetic license!
      - content: Take a boat around the canals and wharves of the historic centre. It’s a romantic and picturesque way to see the city, with guides unravelling the story of old Ghent...

  - id: antwerp
    title: Antwerp
    description: Antwerp is the Flemish, if not Belgian, capital of cool. Synonymous with daring fashion and university chic, killer clubs and artsy atmosphere, it is – in the same breath – old-school, historic and wonderfully picturesque. Sit outside a cafe looking out over a cobbled square with ancient, stepped-gable houses leaning into each other, or discover the latest Antwerp trend in a boutique around the corner. Museums remind us of Antwerp’s Baroque hero, Rubens; his home is here, as are masterful artworks. Oh, and there are diamonds galore. In short, Antwerp is a city of delicately-balanced contrasts, a kaleidoscope of medieval grandeur, artistic flair and youthful cool.
    pois:
      - content: The ornate mansion Rubenshuis, the home of the eponymous Baroque master, is now lovingly restored and filled with rare treasures – art lovers alight!
      - content: Let Belgium’s most impressive medieval cathedral beguile, with its vast belfry and wealth of Baroque art. The Onze-Lieve-Vrouwekathedraal is a masterpiece of Belgian sacred architecture.
      - content: The Jane has two Michelin stars and sits in the list of top 100 restaurants in the world. A remarkable setting inside an old chapel, don’t miss this feast for the senses (but be sure to book months in advance!).

  - id: mechelen
    title: Mechelen
    description: Mechelen is a charming town perfectly located between Brussels and Antwerp; consider it somewhat of a hidden gem, a bustling spot for in-the-know travellers. A medieval heart offers much the same romance as the rest of Flanders’ cities, with an impressive collection of historic churches and renowned museums. The pastel-coloured main square is a delight, from which cobbled lanes host cafes and restaurants a-plenty. Don’t miss the nostalgic Toy Museum and one of Belgium’s oldest operating breweries, Anker.
    pois:
      - content: Climb the monolithic steeple, St Rumbold's Tower, for astounding panorama over the city; but be warned, the climb consists of a narrow set of 514 steps!
      - content: Sip Golden Carolus beer from Belgium’s oldest working brewery, Anker. It’s a celebrated taste of Mechelen!
      - content: Head for the Hof van Busleyden, a stunning Renaissance palace that hosts artworks from Flanders’ Golden Age.

  - id: leuven
    title: Leuven
    description: With one of Europe’s oldest universities at its heart, Leuven is a wonderful balance of old-world charms and youthful exuberance. It is also Belgium’s brewing capital and, quite possibly related, claims the longest bar in the world. You’ll find it in the Oude Markt; it stands for a lengthy stretch of back-to-back bars and cafes, the buzzing centre of Leuven’s social scene. The UNESCO-listed Great Beguinage, best explored by bicycle as it is a little out of the centre of town, is a remarkable collection of lantern-lit streets and medieval structures, intertwined with canals for evocative romance. Leuven’s intricate and ornate 15th-century town hall is quite possibly best observed from a cafe in the square, sipping Leuven’s most famous export, Stella Artois.
    pois:
      - content: Marvel at the Stadhuis, a rather extravagant, richly decorated Gothic hall with vast spires that reach into the Leuven skyline.
      - content: Head for the Old Market Square and alight at one of 45 bars, collectively making the ‘longest bar’ in Europe!
      - content: Discover the modernist M-Museum, which houses Leuven’s impressive art collection. From Gothic works to a fantastic contemporary collection, this is Leuven’s home of art.
---

<!-- variables set for locals data -->
{% assign locals-page = site.html_pages | where: 'id', 'locals' | first %}
{% assign local-data = locals-page.interviews %}

<div class="vpad--xl bg--light">
  <div class="container">
    <div class="width width--lg text--center text--xxl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.sections %}

{% for section in page.sections %}

  {% if section.id == "bruges" %}
    <!-- larger layout for Bruges -->
    <div id="{{section.id}}" class="vpad--xxxl">
      <div class="container">
        <div class="text--center">
          <h2 class="title title--xxxl">{{section.title}}</h2>
        </div>
        <div class="space--md"></div>
        <div class="row row--gutters-sm">
          <div class="col col--8">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/01.jpg');"></div>
          </div>
          <div class="col col--4">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/02.jpg');"></div>
            <div class="space--sm"></div>
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/03.jpg');"></div>
          </div>
        </div>
        <div class="vpad--lg width width--xxl">
          <div class="row">
            <div class="col col--6">
              <p class="text--xl">{{section.description}}</p>
            </div>
            <div class="col col--6">
              <p><strong>Our Favourite Spots</strong></p>
              <ul>
                {% for poi in section.pois %}
                  <li>{{poi.content}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="width width--xxl">
          <div class="row row--6-6">
            {% for local in local-data %}
            {% if local.city == section.id %}
            <div class="col">
              {% include local-link.html %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <!-- smaller layout for other cities -->
    <div id="{{section.id}}" class="vpad--xxl">
      <div class="container">
        <div class="row row--6-6 row--reverse row--valign-center">
          <div class="col">
            <h2 class="title title--xxl">{{section.title}}</h2>
            <p class="text--xl">{{section.description}}</p>
            <div class="space--sm"></div>
            <p><strong>Our Favourite Spots</strong></p>
            <ul>
              {% for poi in section.pois %}
                <li>{{poi.content}}</li>
              {% endfor %}
            </ul>
            {% for local in local-data %}
              {% if local.city == section.id %}
                <div class="space--sm"></div>
                {% include local-link.html %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/01.jpg');"></div>
            <div class="space--sm"></div>
            <div class="row row--6-6 row--gutters-sm">
              <div class="col">
                <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/02.jpg');"></div>
              </div>
              <div class="col">
                <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}/03.jpg');"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endfor %}