<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    <div class="bg--fade" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg'); background-color: #2f3943;">
      <div class="site-header__offset"></div>
      {% include nav/site.html %}

        <div class="container">

          <div class="width width--xxl text--center content-spacing text--white">
            <div class="space--xxxxl"></div>
            <div class="space--xl"></div>
            <h2 class="title title--xxxxl">Indulge in truly delicious moments…</h2>
            <div class="space--sm"></div>
            <h3 class="sub-title sub-title--case sub-title--lg width width--lg ">Book a Bruges escape and you could win a treat or two!</h3>
            <div class="space--md"></div>
            <a href="#bruges-offers" class="btn btn--lg btn--red">Book now</a>
            <div class="space--xxxxl"></div>
          </div>

          <div class="width width--xxl bg--white boxpad--xl content-spacing">
            <div class="width width--lg text--center text--xl">
              <p>{{page.intro}}</p>
            </div>
            <div class="space--lg">
              <div class="row row--4-4-4 row--gutters-sm">
                <div class="col">
                  <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/01.jpg');"></div>
                </div>
                <div class="col">
                  <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/02.jpg');"></div>
                </div>
                <div class="col">
                  <div class="bg-img bg-img--3-2 bg-img--lg-1-1" style="background-image: url('{{site.img}}/content/{{page.id}}/03.jpg');"></div>
                </div>
              </div>
            </div>
          </div>

          {% include offer/variables.html %}

          <div id="bruges-offers" class="container vpad--xxl">
            <div class="row row--xl-6-6 row--gutters-lg">
              {% for offer in bruges-offers %}
                <div class="col">
                  {% include offer/offer.html %}
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="space--xxxxl"></div>

        </div>


      </div>
    </div>

    {% include page/footer.html %}

  </body>

</html>